<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Hours</title>
    <meta http-equiv="refresh" content="300"/>
    <script src = "/fusioncharts/fusioncharts.js"> </script>
    <script src = "/fusioncharts/themes/fusioncharts.theme.fint.js"> </script>
    <script src = "/fusioncharts/fusioncharts.charts.js"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="h-100 p-1">
    <div class="d-flex flex-column h-100">
        <div class="d-flex flex-row h-50">
            <div id="previousWeekChart" class="w-50"></div>
            <div id="thisWeekChart" class="w-50"></div>
        </div>
        <div class="h-50">
            <div id="dailyWeekChart" class="w-100 h-100"></div>
        </div>
    </div>
    <script>
        new FusionCharts({
            "type": "bar2d",
            "width": "100%",
            "height": "100%",
            "dataFormat": "json",
            "dataSource": {
                "chart": {
                    "caption": "Last Week Time",
                    "theme": "fint",
                    "showBorder": "1",
                    "borderColor": "#666666",
                    "borderThickness": "4",
                    "borderAlpha": "80",
                    "decimals": "1"
                },
                "data": {{ previousWeekData | json_encode() | raw }},
                "trendlines": [
                    {
                        "line": [
                            {
                                "startvalue": "35",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "fda813",
                                "displayvalue": "Cool",
                                "showontop": "1",
                                "thickness": "2"
                            },
                            {
                                "startvalue": "40",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "f77027",
                                "displayvalue": "Very Cool",
                                "showontop": "1",
                                "thickness": "2"
                            },
                            {
                                "startvalue": "50",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "cc0000",
                                "displayvalue": "Unbelievable",
                                "showontop": "1",
                                "thickness": "2"
                            }
                        ]
                    }
                ]
            }
        }).render("previousWeekChart");
    </script>
    <script>
        new FusionCharts({
            "type": "bar2d",
            "width": "100%",
            "height": "100%",
            "dataFormat": "json",
            "dataSource": {
                "chart": {
                    "caption": "This Week Time",
                    "theme": "fint",
                    "showBorder": "1",
                    "borderColor": "#666666",
                    "borderThickness": "4",
                    "borderAlpha": "80",
                    "decimals": "1"
                },
                "data": {{ thisWeekData | json_encode() | raw }},
                "trendlines": [
                    {
                        "line": [
                            {
                                "startvalue": "35",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "fda813",
                                "displayvalue": "Cool",
                                "showontop": "1",
                                "thickness": "2"
                            },
                            {
                                "startvalue": "40",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "f77027",
                                "displayvalue": "Very Cool",
                                "showontop": "1",
                                "thickness": "2"
                            },
                            {
                                "startvalue": "50",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "cc0000",
                                "displayvalue": "Unbelievable",
                                "showontop": "1",
                                "thickness": "2"
                            }
                        ]
                    }
                ]
            }
        }).render("thisWeekChart");
    </script>
    <script>
        new FusionCharts({
            "type": "mscolumn2d",
            "width": "100%",
            "height": "100%",
            "dataFormat": "json",
            "dataSource": {
                "chart": {
                    "caption": "This Week Daily Time",
                    "theme": "fint",
                    "showBorder": "1",
                    "borderColor": "#666666",
                    "borderThickness": "4",
                    "borderAlpha": "80",
                    "rotateValues": "0",
                    "decimals": "1"
                },
                "categories": [
                    {
                        "category": [
                            {
                                "label": "Mon"
                            },
                            {
                                "label": "Tue"
                            },
                            {
                                "label": "Wed"
                            },
                            {
                                "label": "Thu"
                            },
                            {
                                "label": "Fri"
                            },
                            {
                                "label": "Sat"
                            },
                            {
                                "label": "Sun"
                            }
                        ]
                    }
                ],
                "dataset": {{ thisWeeDailyData | json_encode() | raw }},
                "trendlines": [
                    {
                        "line": [
                            {
                                "startvalue": "7",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "fda813",
                                "displayvalue": "Cool",
                                "showontop": "1",
                                "thickness": "2"
                            },
                            {
                                "startvalue": "10",
                                "endvalue": "",
                                "istrendzone": "",
                                "valueonright": "1",
                                "color": "f77027",
                                "displayvalue": "Very Cool",
                                "showontop": "1",
                                "thickness": "2"
                            }
                        ]
                    }
                ]
            }
        }).render("dailyWeekChart");
    </script>
</body>
</html>
