users:
  login:
    api_type: upwork
    name: Name
    consumerKey: ...
    consumerSecret: ...
    accessToken: ...
    accessSecret: ...

  login:
    api_type: toggl
    name: Name
    user_agent: email
    api_token: ...
    workspace_id: ...
