users:
  login:
    name: Name
    color: ...
    upwork:
      consumerKey: ...
      consumerSecret: ...
      accessToken: ...
      accessSecret: ...

  login:
    name: Name
    color: ...
    toggl:
      userAgent: email
      apiToken: ...
      workspaceId: ...

  login:
    name: Name
    color: ...
    upwork:
      consumerKey: ...
      consumerSecret: ...
      accessToken: ...
      accessSecret: ...
    toggl:
      userAgent: email
      apiToken: ...
      workspaceId: ...
