users:
  login:
    apiType: upwork
    name: Name
    consumerKey: ...
    consumerSecret: ...
    accessToken: ...
    accessSecret: ...
    color: ...

  login:
    apiType: toggl
    name: Name
    userAgent: email
    apiToken: ...
    workspaceId: ...
    color: ...
